<% if logged_in? %>
<div class="line-bc">
  <!-- タイトル -->
    <div class="line__title">
      ルーム名：<%= @memo_room.title %>
    </div>
  <% @memo_room_posts.each do |memo_room_post| %>
    <% if memo_room_post.role == 0 %>
      <div class="col-sm-12 balloon6">
        <div class="faceicon">
          <%= image_tag current_user.post_a_picture.to_s %>
        </div>
        <div class="chatting">
          <div class='says'>
            <p><%= memo_room_post.content %></p>
          </div>
        </div>
      </div>
    <% elsif memo_room_post.role == 1 %> 
    <div class="offset-sm-6 col-sm-6 mycomment">
      <div class="faceicon">
          <%= image_tag current_user.post_b_picture.to_s %>
      </div>
      <div class="chatting">
        <p><%= memo_room_post.content %></p>
      </div>  
    </div>
    <% end %> 
  <% end %>
      <%= form_with(model: @memo_room_post, url: memo_room_memo_room_posts_url(@memo_room), local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-group">
            <%= hidden_field_tag :memo_room_id, @memo_room.id %>
            <%= f.text_area :content, class: 'form-control chat-form', placeholder: "メモの内容を入れて投稿してください" %>
          </div>
          <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %><i class="fas fa-paper-plane"></i>
          <% end %>
    <% end %>  
  <% else %>
  <div class="center">
      <div class="text-center">
        <h1>まずは新規登録をお願いします</h1>
        <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
      </div>
  </div>
<% end %>
</div>

