<%= form_with(model: @memo_room_post, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-group">
           <%= f.text_area :content, class: 'form-control', rows: 5, placeholder: "メモの内容を入れて投稿してください" %>
          </div>
          <%= f.submit '更新', class: 'btn btn-primary btn-block' %>
      <% end %>
<%= link_to '戻る', :back, class: 'back-button' %>