<div class="row">
  <span class="particletext bubbles">
<h2>カテゴリとルームタイトルの変更</h2>
<%= form_with(model: @memo_room, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-group"><label for="title">変更するカテゴリを選択してください</label> 
      <%= f.collection_select :category_id, Category.all, :id, :title, :include_blank => true %> 　　</div>
    <div class="form-group"> <label for="title">変更するタイトルを入力してください</label>
      <%= f.text_field :title, class: 'form-control', rows: 5, placeholder: "タイトルを20文字以内で入力してください" %>
    </div>
    <%= f.submit 'カテゴリとルームタイトルの変更', class: 'btn btn-primary btn-block' %>
      <% end %>
      <div class="line-bc">
        <h2>投稿したメモの編集</h2>
        <%= form_with(model: @memo_room_post, local: true) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
            <% @memo_room_posts.each do |memo_room_post| %>
              <% if memo_room_post.role == 0 %>
                <div class="col-sm-12 balloon6">
                  <div class="faceicon">
                    <%= image_tag current_user.post_a_picture.to_s %>
                  </div>
                  <div class="chatting">
                    <div class='says'>
                      <p><%= memo_room_post.content %></p>
                    </div>  
                      <div class="form-group">
                        <%= f.text_area :content, class: 'form-control', rows: 5, placeholder: "メモの内容を入れて投稿してください" %>
                      </div>
                  </div>
                </div>
                <% elsif memo_room_post.role == 1 %>
                  <div class="offset-sm-6 col-sm-6 mycomment">
                    <div class="faceicon">
                     <p><%= memo_room_post.content %></p>
                     <div class="icon-b"><%= image_tag current_user.post_b_picture.to_s %></div>
                    </div>
                      <div class="form-group">
                        <%= f.text_area :content, class: 'form-control', rows: 5, placeholder: "メモの内容を入れて投稿してください" %>
                      </div>
                  </div>
                  <% end %>
                    <% end %>
                      <%= f.submit '更新', class: 'btn btn-primary btn-block' %>
                        <% end %>
                          <%= link_to '戻る', :back, class: 'back-button' %>
                          </div>
                          </span>
                          </div>