<% if logged_in? %>
<div class="row line-bc">
  <% @memo_room_posts.each do |memo_room_post| %>
    <% if memo_room_post.role == 0 %>
      <div class="col-sm-12 balloon6">
        <div class="faceicon">
          <!--img画像-->
        </div>
        <div class="chatting">
          <div class='says'>
            <p><%= memo_room_post.content %></p>
          </div>
        </div>
      </div>
    <% elsif memo_room_post.role == 1 %> 
    <div class="offset-sm-6 col-sm-6 mycomment">
      <div class="faceicon">
          <!--img画像-->
      </div>
          <p><%= memo_room_post.content %></p>
    </div>
    <% end %> 
  <% end %>
      <%= form_with(model: @memo_room, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-group">
           <%= f.text_area :content, class: 'form-control', rows: 5, placeholder: "メモの内容を入れて投稿してください" %>
          </div>
          <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
      <% end %>
  <% else %>
  <div class="center">
      <div class="text-center">
        <h1>まずは新規登録をお願いします</h1>
        <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
      </div>
  </div>
<% end %>
</div>
